body {
            background: #f3f2f3;
            color: #000000;
            font-family: Trebuchet MS, Arial, Times New Roman;
            font-size: 100%;
			overflow-x:  hidden;
			background: url(images/fon.ipg) no-repeat;
			-moz-background-size: 100%; /* Firefox 3.6+ */
			-webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
			-o-background-size: 100%; /* Opera 9.6+ */
			background-size: 100%; /* Современные браузеры */
}
 

 
#header {
	        width:85%;
			position:center;
			text-align:center;
}
 
#header h1 {
			text-align:center;
	        position:center;
	        width:100%;
			margin: 10px;
			color:#ffffff;
			font-weight: normal;
            font-size: 60px;
			text-shadow: 2px 2px 5px blue;
			margin-left: 90px;
}

select {
	margin-bottom:40px;
}


* {box-sizing: border-box;}
.railway {
  max-width: 500px;
  margin: 70px auto 0;
  padding: 30px;
  background: corn­flowerblue;
  font-family: 'Oswald', sans-serif;
}
.railway h3 {
  padding: 7px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
  color: #FAAB1B;
  background: #291810;
}
.form-group {
  margin-bottom: 20px;
  padding: 10px;
  background: azure;
}
.form-group input, 
.form-group label, 
.form-group textarea {
  display: block;
  width: 100%;
}
.form-group input {
  padding: 0;
  line-height: 30px;
  background: paleturquoise;
  border-width: 0;
}
.submit-button {
  display: inline-block;
  padding: 1px 50px;
  background: paleturquoise;
}
.submit-button input {
  padding: 0;
  background: paleturquoise;
  border-width: 0;
  text-transform: uppercase;
  cursor: pointer;
  text-shadow: -1px -1px #000,
               0 1px 0 #444;
  color: black;
  transition: all 1s;
}
p {
	margin-top:10px;
	text-shadow: 1px 1px #000,
	color: #000000;
	transition: all 1s;
}

table {
    background: white; /* Цвет фона таблицы */
    color: black; /* Цвет текста */
    border-spacing: 1px; /* Расстояние между ячейками */
	margin: auto;
	margin-top: 5%;
   }
   td, th {
    background:light­skyblue; /* Цвет фона ячеек */
    padding: 5px; /* Поля вокруг текста */
	text-align: center;
   }

#mainmenu {
    color:silver;
    position: relative;
	text-align: center;
    overflow: hidden;
    height: 40px;
    margin: 30px 0
}
#mainmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    float: left;
    font: 14px Arial, Helvetica, sans-serif;
    height: 40px
}
#mainmenu ul li {
    position: relative;
    left: -50%;
    float: left;
    margin: 0 10px;
    height: 40px;
	font-weight: 900;
}
#mainmenu ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 0 15px;
    line-height: 40px;
}
#mainmenu ul li a:hover {
    background-color: #666;
}
   
 
#content {
			background:linear-gradient(to top left, thistle, silver);
            width: 95%;
		    margin: 3% 3% 3% 3%;
			padding:40px;
			
}

#content h2 {
	        text-transform: uppercase;
	        color:white;
			font-weight: normal;
            font-size: 35px;
			text-shadow: 2px 2px 5px #0000cd;
}

#content h3 {
	        font-size:150%;
	        text-transform: uppercase;
			color:pink;
			text-shadow: 2px 2px 5px coral;
			margin-top:40px;
}
 


.fo {
  position: center;
  width: 300px;
  margin: 0 auto;
}

#f1 {
	margin-top:50px;
}

input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #7BA7AB;
  border-radius: 5px;
  outline: none;
  background: #F9F0DA;
  color: #9E9C9C;
}
button {
  position: absolute; 
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: #7BA7AB;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}

#genre  {
   background: white;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 34px;
}
.ar {
	margin-top:-30px;
}